@import '../../styles/colors.scss';
@import '../../styles/layout.scss';

.login{
  display: flex;            
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;

  .form{

    .contentForm{
      max-width: 680px;
      margin: auto;

      .cardContent{
        display: flex;
        flex-direction: row;
        border-radius: 10px;
      }

      .formLogin{
        flex: 3;

        .formWrap{
          margin-top: 3*$spacing;
          margin-bottom: 3*$spacing;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form{
            width: 100%;

            .submit{
              margin-top: 3*$spacing;
            }
          }
        }
      }
      
      .imgFormBox{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;

        & img{
          width: 75%;
        }
      }
    }
  }
}