$white: #fff;
$black: #000;
$background: #f4f4f7;
$primary: #f53f5e;
$primaryDark: #d03650;
$primaryLight: #fb7289;

.bgPrimary{
  background-color: $primary !important;
}

.colorPrimary{
  color: $primary !important;
}

.bgPrimaryDark{
  background-color: $primaryDark !important;
}

.colorPrimaryDark{
  color: $primaryDark !important;
}

.bgPrimaryLight{
  background-color: $primaryLight !important;
}

.colorPrimaryLight{
  color: $primaryLight !important;
}